.application {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    border: 10px double #d0c39d;
    background-color: #535362;
    margin: 1%;
    border-radius: 5px;
}

.working-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    border: 5px double #d0c39d;
    background-color: chocolate;
    margin: 1%;
    padding: 1%;
    border-radius: 5px;
    width: 25%;
}

.output-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border: 5px double #d0c39d;
    margin: 1%;
    padding: 1%;
    background-color: chocolate;
    width: 95%;
}

button {
    background-color: #d0c39d;
    padding: 2px;
    margin: 1%;
    border-radius: 5px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(black), color-stop(0.5, gray));
    width: 100%;
    border: 3px double white;
    font-size: 100%;
    font-weight: bold;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

label {
    padding: 2px;
    margin: 1%;
    border-radius: 5px;
    width: 96%;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(black), color-stop(0.5, #ff6876));
    border: 3px double white;
    font-size: 100%;
    font-weight: bold;
    color: white;
}

input {
    border-radius: 5px;
    width: 99%;
    height: 20px;
    border: 4px double black;
    font-size: 100%;
}

/*--------------------------------------*/

.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px double black;
    margin: 50px;
    padding: 10px;
}

.detail img {
    border-radius: 50%;
    width: 400px;
    heigth: 400px;
    border: 10px double black;
}

#firstPage ul {
    list-style: none;

}

#firstPage li {
    margin-bottom: 15px;
    border: 10px double black;
}

#firstPage a {
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: center;
}

#firstPage h4 {
    margin: 0;
}

#firstPage img {
    border-radius: 50%;
    width: 100px;
    heigth: 100px;
    margin-right: 20px;
}